DEBUG=True
SECRET_KEY=change-me
ALLOWED_HOSTS=127.0.0.1,localhost
CORS_ALLOWED_ORIGINS=https://eld-trip-planner-fronend.vercel.app
USER_AGENT=eld-trip-planner-demo/1.0
GEOCODER_URL=https://nominatim.openstreetmap.org/search
ROUTER_URL=https://router.project-osrm.org/route/v1/driving
